{% extends 'base.html' %}
{% load tailwind_filters %}

{% block title %}Login{% endblock title %}


{% block main_content %}
<div class="container px-5 py-10 mx-auto">
    <div class="lg:w-2/5 mx-auto flex flex-wrap">
        {% include 'messages.html' %}
        <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">

            <div class="py-5 border-b border-gray-200">
                <a class="hover:text-blue-500" href="{% url 'accounts:signup' %}">Don't have an account?</a>
            </div>
            
            <form class="mt-5" action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" type="submit">
                    Login
                </button>
            </form>
            
            <div class="mt-5 py-5 border-t border-gray-200">
                <a href="#" class="hover:text-blue-500" href="">
                    Forgot Password?
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}